/*.php
/nbproject
/staging-backup-04-march-2016
/HTML
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

wp-content/plugins/
wp-content/plugins/hello.php

wp-content/themes/twentyfourteen/
wp-content/themes/twentysixteen/

wp-content/themes/image_locations_child/generated_pdf/
wp-content/themes/image_locations_child/imagecache/
wp-content/themes/image_locations_child/zip/

wp-admin/
wp-includes/

/readme.html
/license.txt


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
=======
wp-content/plugins/hello.php

/readme.html
/license.txt

